*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100vw;
    height: 100vh;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background:linear-gradient(rgba(86, 134, 118, 0.63),rgba(73, 107, 121, 0.623));
}
.cont{
    width: 90%;
    height: 90%;
    border: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.151);
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(245, 245, 245, 0.432);
}
.box{
    width: 150px;
    height: 180px;
    border:none;
    margin: 10px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.74);
    cursor: pointer;
}

 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;

}
p{
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin-top: -2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h6{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: red;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 0 0 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
}
.slider{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.795);
    position: absolute;
    left: -10px;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 1s;
    text-align: center;
    color: white;
    cursor: pointer;
    
}
.out{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 118, 151, 0.945);
    z-index: 2000;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 1s;
    display: flex;
    flex-direction: column;
    
}
.soap{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 118, 151, 0.945);
    z-index: 2000;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 1s;
    display: flex;
    flex-direction: column;
    color: white;
    
}
.home{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgb(4, 165, 111),rgb(6, 130, 179));
    z-index: 2000;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.747);
    
}
.hme{
    opacity:1;
  
    animation: try 3s forwards;
}
@keyframes try{
    0%{
opacity: 1;
    }
    100%{
        display: none;
        pointer-events: none;
        visibility: none;
        opacity: 0;
    }
}
.welcome{
    width: 90%;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    position: absolute;
    top: 30%;
    left: 5%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.678);
}
.ile{
    width: 90%;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    position: absolute;
    bottom: 30%;
    color: rgba(214, 236, 13, 0.938);
    cursor: pointer;
}
ul{
    position: absolute;
    width: 60%;
    left: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    top: 30px;
}
li{
    margin: 10px;
    background: linear-gradient(rgba(240, 119, 6, 0.959),rgba(10, 245, 166, 0.993));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: lighter;
    cursor: pointer;
}
h4{
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
}
input{
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 10px;
}
.pay{
    position: absolute;
    bottom: 120px;
    padding: 10px;
    left: 45%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.685),-2px -4px 8px rgba(255, 255, 255, 0.295);
    background-color: red;
    color: white;
}
#cad{
    position: absolute;
    top: 30%;
    left: 40%;
}
#cvv{
    position: absolute;
    top: 40%;
    left: 40%;
}
.outni{
    transform: translateX(0);
}
h3{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 140px;
    width: 100%;
    line-height: 30px;
    text-align: center;
}
.ex{
    position: absolute;
    left: 20px;
    top: 20px;
}
.exik{
    position: absolute;
    left: 20px;
    top: -20px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
}
.simp{
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
}
.slider button{
    position: absolute;
    bottom: 50px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.685),-2px -4px 8px rgba(255, 255, 255, 0.295);
}
.slider button:hover{
    box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.295) ,-2px -4px 8px rgba(0, 0, 0, 0.685);
}
.cart{
    left: 300px;
    background-color: rgb(194, 92, 8);
    color: white;
}
.check{
    right: 300px;
    background-color: green;
    color: thistle;
}
.chk{
    right: 45%;
    background-color: green;
    color: thistle;
    position: absolute;
    bottom: 150px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.685),-2px -4px 8px rgba(255, 255, 255, 0.295);
}
.slid{
    transform: translateX(0);
}
.cecle{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: none;
    
}

@media(max-width:450px){
    body{
        overflow: hidden;
    }
    .container{
        overflow: hidden;
    }
    .box{
        width: 130px;
        height: 170px;
        margin-left: 40px;
        font-size: 15px;
    }
    h6{
        margin: 0;
        
    }
    .slider{
        background-position-x: -150px;
        transform: translateX();
    }
    h3{
        font-size: 15px;
        width: 90%;
        margin-left: 20px;
    }
    .check{
        right: 20px;
        margin-bottom: 40px;
        font-size: 17px;
    }
    .cart{
        left: 20px;
        margin-bottom: 40px;
        font-size: 17px;
    }
    ul{
        left: 30px;
    }
    input{
        margin-left: -60px;
    }
    .pay{
        left: 150px;
        bottom: 180px;
        font-size: 18px;
    }
    .chk{
        bottom: 200px;
        right: 35%;
    }
    .soap{
        font-size: 10px;
        }
        .exik{
            top: 20px;
        }
        .welcome{
            font-size: 14px;
        }
        .ile{
            font-size: 14px;
            bottom: 40%;
        }
}

@media (max-width:399px){
    .box{
        width: 270px;
        height: 150px;
        margin: 40px;
        font-size: 15px;
    }
    body{
        overflow: hidden;
    }
    .cont{
        overflow-y: scroll;
    }
    .welcome{
        font-size: 14px;
    }
    .ile{
        font-size: 14px;
        bottom: 40%;
    }
    .pay{
        left: 130px;
        bottom: 180px;
        font-size: 18px;
    }
    .slider{
        background-position-x: -180px;
        transform: translateX();
    }
}